/*Colors used
Background color (Light Pink): #FFEBCD
Primary color (Purple): #990099
*/

body {
    background-color: #F0FFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 2.0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

nav {
    font-weight: bold;
}

a {
    color: #990099;
}

a:visited {
    color: #0000ff;
}

a:hover {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    color: #990099;
}

button {
    /*overwrites browser defaults and resets the border */
    border: none;
    font-family: inherit;
    background-color: #606060;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.5s opacity;
    -o-transition: 0.5s opacity;
    transition: 0.5s opacity;
}

.button {
    /*overwrites browser defaults and resets the border */
    border: none;
    font-family: inherit;
    background-color: #606060;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.5s opacity;
    -o-transition: 0.5s opacity;
    transition: 0.5s opacity;
}

script {
    text-align: right;
}

button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button__secondary {
    background-color: #767676;
    color: #fff;
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.about {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.hobbies {
    list-style-type: none;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.grid__item {
    background-color: lightgray;
    padding: 10px;
    margin-right: 15px;
}

.section {
    margin-left: 15px;
}

.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

label {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    padding: 5px;
}

input {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    float: left;
    padding: 5px;
}

@media all and (max-width: 640px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 640px) {
    .grid {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media all {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}